.DS_Store
.git
*.egg-info/
.installed.cfg
*.egg
dist

poetry.lock

venv

__pycache__/
*/__pycache__/
*.py[cod]
.pyc
*.pyc



log/debug.log

build
doc
home.rst
make.bat


doc-dev
.vscode/*

data

**/migrations/versions/*